{% extends "base.html" %}

{% block main %}
{% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li<{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
      {% endwith %}
<!-- Contact Section -->
    <section id="contact">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Add Profile Info</h2>
        <hr class="star-dark mb-5">
        <div class="row border">
          <div class="col-lg-8 mx-auto">
            <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
            <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
            <form name="sentMessage" id="contactForm" action="{{url_for('add_profile')}}" method="post">
            	{{ form.csrf_token }}
              <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2 ">
        
                  {{ form.fname.label(class="text-secondary")}}<br>
                  {{ form.fname(class="form-control" ,placeholder="First Name")}}
                  <p class="help-block text-danger">{{ form.fname.errors[0]}}</p>
                  
                </div>
              </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2 ">
        
                  {{ form.lname.label(class="text-secondary")}}<br>
                  {{ form.lname(class="form-control" ,placeholder="Last Name")}}
                  <p class="help-block text-danger">{{ form.lname.errors[0]}}</p>
                  
                </div>
              </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                  {{ form.email.label(class="text-secondary")}}<br>
                  {{ form.email(class="form-control" ,placeholder="Email")}}
                  <p class="help-block text-danger">{{ form.email.errors[0]}}</p>
                  
                </div>
              </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                  {{ form.location.label(class="text-secondary")}}<br>
                  {{ form.location(class="form-control" ,placeholder="Location")}}
                  <p class="help-block text-danger">{{ form.location.errors[0]}}</p>
                  
                </div>
              </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                  {{ form.bio.label(class="text-secondary")}}<br>
                  {{ form.bio(class="form-control" ,placeholder="Say something about you")}}
                  <p class="help-block text-danger">{{ form.bio.errors[0]}}</p>
                  
                </div>
              </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2 ">
        
                  {{ form.upload.label(class="text-secondary")}}<br>
                  {{ form.upload(class="form-control" ,placeholder="Upload Photo")}}
                  <p class="help-block text-danger">{{ form.upload.errors[0]}}</p>
                  
                </div>
              </div>
              <br>
              <div id="success"></div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">Add</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
{% endblock %}