<div class="container " id="footer">
    <div class="row border-top">
      <div class="col-md-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">About</h4>
        <p class="lead mb-0">Flask is a microframework for Python based on Werkzeug, Jinja 2 and good intentions. And before you ask: It's BSD licensed!
      </div>
      <div class="col-md-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Stay in Touch</h4>
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
              <i class="fab fa-github-alt"></i>
            </a>
          </li>
          <li class="list-inline-item">
          </li>
          <li class="list-inline-item">
            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
          <li class="list-inline-item"> 
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4 class="text-uppercase mb-4">Learn More</h4>
        <p class="lead mb-0">Discover more at <a href="http://flask.pocoo.org">flask.pocoo.org</a></p>
      </div>
    </div>
    <div class="copyright py-4 text-center text-primary">
      <div class="container">
        <small>Copyright &copy; Your Website 2018. Template by <a class=" text-secondary" href="http://jordancooper.me">Jordan Cooper</a></small>
      </div>
    </div>
  </div>
  