{% extends "base.html" %}

{% block main %}
<div class="container">
<div class="jumbotron">
        <div class=" text-center ">
        <h1 class="text-uppercase mb-0">Success</h1><br>
        <h2 class="font-weight-light mb-0 ">Thank you for connecting. We have sent you an email with your details. Please check your email</h2><br>
        <p class="text-center"><a class="btn btn-primary" href="{{ url_for('home') }}"><i class="fa fa-home"></i> Take Me Home</a></p>
    <br>
        </div>
        
	</div>
</div>
{% endblock %}