{% extends "base.html" %}

{% block main %}
{% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li<{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
      {% endwith %}
<div class="jumbotron">
        <div class=" text-center ">
        <h2 class="font-weight-light mb-0 ">A collection</h2><br>
        <p class="text-center"><a class="btn btn-primary" href="{{ url_for('home') }}"><i class="fa fa-home"></i> View all Data</a></p>
    <br>
    <p class="text-center"><a class="btn btn-primary" href="{{ url_for('home') }}"><i class="fa fa-home"></i> View all Data</a></p>
        </div>
        
  </div>

  {%endblock%}